/*Top page menu*/
ul.home {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul.home li {
    float: left;
}

ul.home li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

ul.home li a:hover {
    color: white;
    background-color: black;
}

/*Page d'accueil*/
	/*Block de menu vulgarisation,cour,histoire*/
div.sommaire {
    float: left;
    margin: 0%;
    padding: 0px;
    min-width: 400px;
    max-width: 33.33%;
    height: 1000px;
    color:white;
}

div.sommaire h2{
    padding:20px;
    text-align:center;
    text-decoration:none;

}

div.sommaire p{
    padding:10px;
}

div.sommaire img {
  width: 100%;
  opacity:0.5;
  vertical-align: bottom;
}

div.sommaire a {
    color: white;
    text-decoration: none;
}
div.sommaire a:hover{
    color: black;
}
/*Page de cours*/
	/* Floating menu */
nav.floating {
    float: left;
    max-width: 200px;
    margin: 0;
    padding: 1em;
}

nav.floating ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position:fixed;
    top:250;
    width:150px;
    float:center;
}

nav.floating li {
    float: left;
}

nav.floating li a {
    display: block;
    color: red;
    text-align: left;
    padding: 5px;
    text-decoration: none;
}

nav.floating li a:hover {
    color: black;
}

nav.floating h3 {
	color: green;
}

/*zone d'écriture du cours*/
article.cours {
    margin-left: 200px;
    border-right: 5px solid gray;
    border-left: 5px solid gray;
    padding: 1em;
    overflow: hidden;
    width:calc(100% - 242px);
}

div.theoreme {
	border-left: 10px solid orange;
	background: #a6a6a6;
	border-radius: 10px;

}
div.theoreme header {
	background: #bfbfbf; 
	color:#b35900;
	border-radius: 0px 10px 0px 0px;
	text-align: center;
	padding: 5px
}
div.theoreme p {
	padding: 5px
}
/*page de selection*/
	/*menu de selection de la matière*/
div.container {
    width: 100%;
}

div.container header {background: black;color:white;}
div.container footer {background: #aaa;color:white;}

div.container header, footer {
    padding: 1em;
    color: white;
    clear: left;
    text-align: center;
}

div.container nav {
    float: left;
    max-width: 200px;
    margin: 0;
    padding: 1em;
}

div.container nav ul {
	background-color: #333333;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
			
div.container nav ul a {
    text-decoration: none;
}

div.container article {
    margin-left: 170px;
    border-left: 5px solid gray;
    padding: 1em;
    overflow: hidden;
}

div.container li a {
    background-color:transparent;
    display: block;
    border: none;
    color: white;
    text-align: left;
    text-decoration: none;
    padding: 16px;
    cursor: pointer;
}

div.container li a:hover {
    color: white;
    background-color: black;
}


